.menu-left {
   max-width: 240px;
   width: 100%;
   height: 100vh;
   .menu-left-icon {
      height: 70px;
      width: 100%;
      font-size: 20px;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 800;
      display: flex;
      justify-content: center;
      align-items: center;
      > p {
         margin: 0;
         color: #4880ff;
         width: fit-content;
      }
   }
   .menu-left-item {
      padding-left: 40px;
      display: flex;
      align-items: center;
      gap: 16px;
      height: 50px;
      font-family: 'Nunito Sans';
      font-weight: 600;
      font-size: 14px;
      position: relative;
      cursor: pointer;
      text-decoration: none;
      &:active {
         color: unset;
      }
      .menu-left-item__icon {
         height: 24px;
         width: 24px;
         color: black;
         svg {
            height: 24px;
            width: 24px;
         }
      }
   }
   .menu-left-item-active {
      border-radius: 4px;
      background-color: #4880ff;
      color: white;
      margin-left: 24px;
      > .menu-left-item__icon {
         color: white;
      }
      &::before {
         position: absolute;
         left: -24px;
         width: 4.5px;
         height: 100%;
         display: block;
         content: '';
         background-color: #4880ff;
         border-top-right-radius: 4px;
         border-bottom-right-radius: 4px;
      }
   }
}
