.tasks-page-header {
   display: flex;
   justify-content: space-between;
   .tasks-page-header-name {
      font-size: 20px;
      font-weight: 400;
      line-height: normal;
   }
   .tasks-page-header-actions {
      > .ant-space-item > button {
         padding: 10px 16px;
         height: auto;
         font-size: 14px;
         line-height: 20px;
         font-weight: 500;
         font-family: 'Inter', sans-serif;
      }
   }
}
.tasks-page {
   display: flex;
   > div {
      width: 50%;
   }
}

.add-task-modal {
   .ant-modal-content {
      border: none;
   }
}

.add-task-modal-header {
   font-size: 18px;
   font-weight: bold;
   margin-bottom: 24px;
}
