.tasks-page-header {
   display: flex;
   justify-content: space-between;
   .tasks-page-header-name {
      font-size: 20px;
      font-weight: 400;
      line-height: normal;
   }
   .tasks-page-header-actions {
      > .ant-space-item > button {
         padding: 10px 16px;
         height: auto;
         font-size: 14px;
         line-height: 20px;
         font-weight: 500;
         font-family: 'Inter', sans-serif;
      }
   }
}
.tasks-page {
   display: flex;
   gap: 10px;
   margin-top: 10px;
   > div {
      width: 50%;
   }
   .task-card {
      .ant-card-body {
         display: flex;
         justify-content: space-between;
         &::before {
            content: none;
         }
         &::after {
            content: none;
         }
      }
      .task-card-name {
         width: fit-content;
         margin: 0 10px;
      }
      .task-card-time {
         color: #979797;
      }
      .task-card-status {
         display: flex;
         gap: 10px;
         align-items: center;
         color: #979797;
         > span {
            cursor: pointer;
         }
         .task-card-status-todo {
            font-size: 20px;
            color: #00e600;
         }
         .task-card-status-done {
            font-size: 20px;
            color: #979797;
         }
         .task-card-status-delete {
            font-size: 20px;
            color: #ff0000;
         }
         .task-card-status-edit {
            font-size: 20px;
            color: #666666;
         }
      }
   }
}

.add-task-modal {
   .ant-modal-content {
      border: none;
   }
}

.add-task-modal-header {
   font-size: 18px;
   font-weight: bold;
   margin-bottom: 24px;
}
.add-catology {
   position: relative;
   .add-catology-action {
      position: absolute;
      z-index: 1152;
      height: 100%;
      right: 0;
      top: 0;
      display: flex;
      align-items: center;
      .add-catology-action-icon {
         font-size: 18px;
         margin: 0 5px;
         cursor: pointer;
      }
      .__check {
         color: #00e600;
      }
      .__close {
         color: #ff0000;
      }
   }
}
.catologies {
}
.catologies-option {
   position: relative;
   > .ant-select-item-option-content {
      display: flex;
      justify-content: space-between;
      .catologies-option-action {
         > .anticon-delete {
            color: #ff0000;
            font-size: 16px;
            z-index: 1200;
            margin-right: 10px;
         }
         > .anticon-edit {
            color: black;
            font-size: 16px;
            z-index: 1200;
            margin-right: 10px;
         }
      }
   }
}
